# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
build/
bin/
obj/

# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# NuGet
packages/
*.nupkg

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Mac
.DS_Store

# Rider
.idea/

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates